# See https://stackoverflow.com/questions/18880024/start-ssh-agent-on-login
[Unit]
Description=SSH key agent

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a %t/ssh-agent.socket
Restart=on-failure

[Install]
WantedBy=default.target
