[user]
	name = JoshuaLim25
	email = chillythermometer@gmail.com
[init]
	defaultBranch = main
[core]
	editor = nvim
[diff]
	tool = nvim -d
[merge]
	tool = nvim -d
[mergetool]
	prompt = true
	trustExitCode = false
[credential "https://github.com"]
	helper = store --file ~/.dotfiles/gitcredentials
