# Settings that are in the .inputrc file affect all programs that use the GNU readline library, not just bash. Think of the .inputrc file as being a configuration file for GNU Readline similar to how .bashrc is a configuration file for bash.
# GNU Readline is described as:
# >... A set of functions for use by applications that allow users to edit command lines as they are typed in.
    # To clarify a bit further, settings that are in the .bashrc file only affect bash. If you'd like to optionally run bash without GNU Readline support or usage, you can invoke bash with the --noediting option as follows: bash --noediting. You can find out more about bash options here.


# Enable vi mode
set editing-mode vi
set keymap vi-ins


# Restore some keymaps removed by vi mode
"\C-p": history-search-backward
"\C-n": history-search-forward

# Switch to command mode using 'jk'
"\jk": vi-cmd-mode

# Move to beginning and end of line
"\C-a": beginning-of-line
"\C-e": end-of-line

# Delete character or word
"\C-d": delete-char
"\C-w": backward-kill-word

# Bind backspace to delete a character in insert mode
"\C-h": backward-delete-char
"\C-?": backward-delete-char

# Incremental search
"\C-r": history-incremental-search-backward

# https://stackoverflow.com/questions/6839006/map-jj-to-esc-in-inputrc-readline
set bell-style none
$if mode=vi
    set keymap vi-command
    "gg": beginning-of-history
    "G": end-of-history
    set keymap vi-insert       #notice how the "jj" movement is
    "jj": vi-movement-mode     #after 'set keymap vi-insert'?
    "\C-w": backward-kill-word
    "\C-p": history-search-backward
$endif

